Create an RDD named `products` with `parallelize` containing the elements in the output.

In [3]:
products = sc.parallelize(["Apple", "Apple", "Cheese", "Apple", "Orange"])

Count the number of elements in `products`

In [4]:
products.count()

5

Count the number of apples in `products`. Tip: use filter.

In [5]:
appleCount = products.filter(lambda x: x == "Apple")
appleCount.count()

3

show the (distinct) products.

In [6]:
list(set(products.collect()))

['Apple', 'Cheese', 'Orange']

Load the contents of the file babynames from the data folder into a RDD called `babynames` with textFile. Show the first 5 lines.

In [7]:
babyNames = sc.textFile("babynames.csv")
babyNames.take(5)

['Year,First Name,County,Sex,Count',
 '2013,GAVIN,ST LAWRENCE,M,9',
 '2013,LEVI,ST LAWRENCE,M,9',
 '2013,LOGAN,NEW YORK,M,44',
 '2013,HUDSON,NEW YORK,M,49']

The first line in the file is a header, filter out the first line to keep only lines with actual data.

In [8]:
firstline = babyNames.first()
babyNamesNoHeader = babyNames.filter(lambda x: x != firstline)
babyNamesNoHeader.take(5)

['2013,GAVIN,ST LAWRENCE,M,9',
 '2013,LEVI,ST LAWRENCE,M,9',
 '2013,LOGAN,NEW YORK,M,44',
 '2013,HUDSON,NEW YORK,M,49',
 '2013,GABRIEL,NEW YORK,M,50']

The elements in this RDD are each a line of text. Transform each element into a tuple or list that consists of the 5 columns in the csv by splitting the lines on comma characters. Show the first 5. Tip: you need `map` and the `split` method on Python Strings.

In [9]:
babySplit = babyNamesNoHeader.map(lambda x: x.split(','))
babySplit.take(5)

[['2013', 'GAVIN', 'ST LAWRENCE', 'M', '9'],
 ['2013', 'LEVI', 'ST LAWRENCE', 'M', '9'],
 ['2013', 'LOGAN', 'NEW YORK', 'M', '44'],
 ['2013', 'HUDSON', 'NEW YORK', 'M', '49'],
 ['2013', 'GABRIEL', 'NEW YORK', 'M', '50']]

Count how many male babies are in the RDD.

In [12]:
maleBabies = babySplit.filter(lambda x: x[3] == 'M')
maleBabies.count()

70137

The next objective is to find the most given babyname.

First, convert the RDD into a key,value structure. Since we do not need anything but the name, we can convert every element into (name, 1). Show the first 5.

In [15]:
nameValueBaby = babySplit.map(lambda x: (x[1], 1 ))
nameValueBaby.take(5)

[('GAVIN', 1), ('LEVI', 1), ('LOGAN', 1), ('HUDSON', 1), ('GABRIEL', 1)]

Now you can aggregate the elements that have the same key, and sum the values to get the number of occurrences per name. Show the first 5, these might be different ones than displayed below. Tip: use `reduceByKey`

In [18]:
def addToSet(names, name):
    names.add(name)
    return names

namesCount =  nameValueBaby.aggregateByKey(\
                  0, # initial value for an accumulator \
                  lambda r, v: r + v, # function that adds a value to an accumulator \
                  lambda r1, r2: r1 + r2 # function that merges/combines two accumulators \
                 )
namesCount.collect()

[('GAVIN', 262),
 ('LEVI', 148),
 ('LOGAN', 386),
 ('HUDSON', 100),
 ('GABRIEL', 243),
 ('ELIZA', 59),
 ('MADELEINE', 51),
 ('ZARA', 40),
 ('DAISY', 53),
 ('JONATHAN', 190),
 ('JACKSON', 262),
 ('JUDY', 11),
 ('DAVID', 239),
 ('SEBASTIAN', 148),
 ('SAMUEL', 232),
 ('DEVORA', 24),
 ('JAYDEN', 273),
 ('MICHAEL', 315),
 ('MATTHEW', 294),
 ('CHARLES', 168),
 ('LUNA', 62),
 ('ADELE', 24),
 ('LIAM', 319),
 ('DYLAN', 279),
 ('DANIEL', 260),
 ('RYAN', 335),
 ('ETHAN', 327),
 ('WYATT', 181),
 ('SURI', 17),
 ('ZISSY', 20),
 ('YIDES', 21),
 ('WILLIAM', 286),
 ('ALEXANDER', 315),
 ('LENA', 51),
 ('CORA', 57),
 ('GIA', 64),
 ('MADELINE', 143),
 ('ANDREA', 77),
 ('TRINITY', 70),
 ('LEILANI', 54),
 ('HARMONY', 34),
 ('AMANDA', 88),
 ('RACHEL', 112),
 ('MARGOT', 18),
 ('NOA', 37),
 ('JESSICA', 97),
 ('ABBY', 29),
 ('JENNY', 24),
 ('MILANA', 19),
 ('ADDISON', 209),
 ('MACKENZIE', 141),
 ('ADRIANNA', 108),
 ('ATHENA', 47),
 ('HANNA', 42),
 ('ANIYAH', 59),
 ('CRYSTAL', 39),
 ('JULIET', 71),
 ('VALERIE', 82),
 ('ELOISE', 40),
 ('AMY', 81),
 ('JOYCE', 26),
 ('SIMONE', 30),
 ('LIV', 18),
 ('HELENA', 26),
 ('ANDREW', 271),
 ('SASHA', 51),
 ('IRIS', 53),
 ('LYLA', 74),
 ('CHASE', 216),
 ('BRAYDEN', 214),
 ('LINCOLN', 77),
 ('LEILA', 76),
 ('NICOLE', 100),
 ('DAPHNE', 26),
 ('ROSE', 70),
 ('JOSEPHINE', 81),
 ('JADE', 101),
 ('JASMINE', 108),
 ('KAYLEE', 149),
 ('AUBREY', 151),
 ('BRIANNA', 157),
 ('AMBER', 59),
 ('LIA', 77),
 ('GENESIS', 89),
 ('SKYLAH', 15),
 ('HADASSAH', 22),
 ('SHIFRA', 13),
 ('SIENNA', 84),
 ('EMELY', 62),
 ('ALIYAH', 70),
 ('GISELLE', 66),
 ('CAMILLE', 28),
 ('VALERIA', 56),
 ('KAYLIN', 22),
 ('HEAVEN', 47),
 ('JAYLEEN', 31),
 ('ELAINE', 24),
 ('AHUVA', 16),
 ('RENEE', 13),
 ('SHIRA', 27),
 ('ALISA', 16),
 ('ELISHEVA', 13),
 ('FRADEL', 11),
 ('EMMA', 385),
 ('KAYLA', 143),
 ('EMILIA', 82),
 ('GABRIELLA', 221),
 ('LILA', 82),
 ('ARYA', 35),
 ('HANNAH', 226),
 ('AISHA', 29),
 ('PAISLEY', 45),
 ('YARETZI', 23),
 ('SARAI', 38),
 ('NYLA', 50),
 ('FIONA', 101),
 ('ISABELLE', 123),
 ('SKYLA', 34),
 ('ALIZA', 32),
 ('KYLIE', 134),
 ('NICHOLAS', 267),
 ('ANTHONY', 279),
 ('YAEL', 27),
 ('CLAIRE', 141),
 ('LAYLA', 151),
 ('SHERLYN', 14),
 ('ERICA', 35),
 ('NATHALY', 15),
 ('KYLEIGH', 20),
 ('LILIANNA', 22),
 ('NANCY', 21),
 ('LESLY', 15),
 ('ROIZA', 5),
 ('MIRI', 7),
 ('IDY', 7),
 ('MUSHKA', 4),
 ('BLAKE', 194),
 ('ELEANOR', 75),
 ('NORA', 113),
 ('AUDREY', 122),
 ('VALENTINA', 89),
 ('ARIANA', 140),
 ('KRISTEN', 20),
 ('ERIN', 69),
 ('ISABEL', 90),
 ('ASHLEY', 127),
 ('VIVIENNE', 48),
 ('LUCY', 106),
 ('NAOMI', 101),
 ('ALEXA', 144),
 ('CAROLINE', 109),
 ('VIVIAN', 96),
 ('HAILEY', 199),
 ('MIRANDA', 36),
 ('JAXON', 109),
 ('OLIVE', 20),
 ('CYNTHIA', 32),
 ('MELANY', 35),
 ('MILA', 73),
 ('KATHERINE', 122),
 ('CAMILA', 84),
 ('BELLA', 122),
 ('ANABELLE', 15),
 ('EVE', 37),
 ('CHRISTINE', 26),
 ('SAMANTHA', 182),
 ('ANNA', 177),
 ('EVA', 121),
 ('FRANCES', 16),
 ('FARAH', 13),
 ('JANIYAH', 19),
 ('ELINA', 14),
 ('SIMA', 26),
 ('LIBA', 14),
 ('MOSHE', 52),
 ('EVELYN', 158),
 ('SOPHIA', 341),
 ('PENELOPE', 96),
 ('EMILY', 285),
 ('ALEXANDRA', 154),
 ('MADISON', 314),
 ('CHLOE', 240),
 ('ABRAHAM', 81),
 ('ISAAC', 160),
 ('ELIJAH', 235),
 ('AARON', 154),
 ('MIA', 238),
 ('ISABELLA', 348),
 ('MARCELLO', 16),
 ('ADAM', 170),
 ('FRANCESCO', 24),
 ('RONALD', 43),
 ('TYLER', 264),
 ('DERRICK', 34),
 ('SANTINO', 33),
 ('EMANUEL', 63),
 ('BROOKLYNN', 30),
 ('JOSIAH', 138),
 ('ERIC', 121),
 ('JAYLEN', 49),
 ('ABEL', 46),
 ('CODY', 60),
 ('AHMED', 38),
 ('RAFAEL', 64),
 ('MENACHEM', 24),
 ('ARON', 36),
 ('YITZCHOK', 27),
 ('SHLOMO', 24),
 ('GERARD', 10),
 ('AARAV', 14),
 ('LUCIANO', 30),
 ('FREDERICK', 24),
 ('DONOVAN', 53),
 ('DENNIS', 41),
 ('KIERAN', 45),
 ('NICO', 46),
 ('SANTIAGO', 47),
 ('SKYE', 31),
 ('AUSTIN', 205),
 ('PHILIP', 49),
 ('NATHANIEL', 155),
 ('YEHUDA', 37),
 ('ISAIAH', 166),
 ('EMMETT', 61),
 ('DAMIEN', 66),
 ('NIA', 39),
 ('GIANNA', 203),
 ('JUAN', 82),
 ('MICAH', 85),
 ('OSCAR', 81),
 ('GIANLUCA', 22),
 ('NIKO', 21),
 ('CHRISTINA', 71),
 ('CALEB', 240),
 ('MARIO', 49),
 ('JOHAN', 41),
 ('GREGORY', 65),
 ('JAMESON', 68),
 ('SAWYER', 76),
 ('ANGELA', 70),
 ('ARIEL', 122),
 ('LUCIANA', 31),
 ('XAVIER', 157),
 ('IVAN', 79),
 ('LOUIS', 82),
 ('KENNETH', 96),
 ('OMAR', 76),
 ('KING', 46),
 ('KYLE', 155),
 ('JOSE', 104),
 ('REID', 35),
 ('ROCCO', 50),
 ('SALVATORE', 55),
 ('TREVOR', 64),
 ('JESSE', 75),
 ('BRADY', 90),
 ('EMMANUEL', 91),
 ('CHRIS', 48),
 ('SPENCER', 74),
 ('EDWIN', 72),
 ('DEAN', 76),
 ('CARLOS', 90),
 ('ALEJANDRO', 76),
 ('JOEL', 108),
 ('KAIDEN', 85),
 ('ELIEZER', 29),
 ('TZVI', 25),
 ('ZACHARY', 224),
 ('RICHARD', 130),
 ('TRISTAN', 134),
 ('MARCUS', 113),
 ('SHULEM', 25),
 ('JAKE', 133),
 ('LUCA', 121),
 ('MILES', 99),
 ('VICTOR', 93),
 ('ANGELINA', 133),
 ('TIMOTHY', 130),
 ('MARCO', 63),
 ('LORENZO', 74),
 ('FELIX', 56),
 ('KADEN', 63),
 ('LUIS', 109),
 ('NICOLAS', 89),
 ('SHANE', 91),
 ('FRANK', 77),
 ('JOSUE', 55),
 ('DOMINICK', 99),
 ('PAUL', 112),
 ('BRYCE', 129),
 ('MATTEO', 66),
 ('GEORGE', 105),
 ('GRAYSON', 105),
 ('SEAN', 160),
 ('ELIAS', 108),
 ('LEONARDO', 87),
 ('MOHAMMED', 43),
 ('SAM', 41),
 ('HERSHY', 23),
 ('ELLIOT', 70),
 ('LEON', 43),
 ('JAX', 40),
 ('RORY', 45),
 ('BRODY', 114),
 ('ANGELO', 78),
 ('COLE', 140),
 ('BRENDAN', 81),
 ('NAFTALI', 18),
 ('MALACHI', 77),
 ('AMARI', 58),
 ('ALVIN', 29),
 ('MILO', 39),
 ('DOV', 22),
 ('DOMINIC', 187),
 ('ERICK', 66),
 ('MESSIAH', 44),
 ('AUGUST', 52),
 ('JULIANNA', 115),
 ('KENZIE', 22),
 ('CALLIE', 41),
 ('HAYLEE', 26),
 ('LILAH', 41),
 ('HOPE', 37),
 ('DANNY', 44),
 ('AILEEN', 24),
 ('LAWRENCE', 24),
 ('BENZION', 9),
 ('ROMAN', 77),
 ('JESUS', 61),
 ('SAMIR', 19),
 ('HAYDEN', 140),
 ('JENNA', 85),
 ('CHARLIE', 81),
 ('NOEL', 37),
 ('ELIYAHU', 22),
 ('JAIDEN', 79),
 ('CALVIN', 49),
 ('WILSON', 33),
 ('JULIANNE', 15),
 ('CHARLEY', 17),
 ('ALYSSA', 154),
 ('YEHOSHUA', 18),
 ('HAYLEY', 35),
 ('ALLIE', 24),
 ('CARLY', 47),
 ('EVANGELINE', 48),
 ('ANA', 60),
 ('CASSIDY', 56),
 ('BIANCA', 77),
 ('ALINA', 67),
 ('MELODY', 57),
 ('EDEN', 68),
 ('NEVAEH', 136),
 ('KYLEE', 27),
 ('LILLIANA', 50),
 ('LEXI', 27),
 ('STANLEY', 25),
 ('SHLOME', 13),
 ('ADEN', 37),
 ('JAVIER', 61),
 ('RANDY', 46),
 ('MALIK', 39),
 ('EFRAIM', 15),
 ('KATE', 71),
 ('MAEVE', 57),
 ('MYRA', 15),
 ('SIENA', 33),
 ('KIMBERLY', 82),
 ('DANIELLA', 75),
 ('CAMRYN', 55),
 ('HERSH', 15),
 ('MEILECH', 7),
 ('JAYCE', 71),
 ('HALEY', 61),
 ('KATIE', 73),
 ('BAILEY', 65),
 ('ARIELLE', 51),
 ('CAIDEN', 42),
 ('CHANCE', 34),
 ('ALLEN', 44),
 ('JOHNNY', 37),
 ('NELSON', 36),
 ('LILLY', 70),
 ('FATIMA', 53),
 ('JORDYN', 86),
 ('GIOVANNA', 33),
 ('KYLA', 44),
 ('KARA', 34),
 ('KATHRYN', 50),
 ('ANGIE', 46),
 ('WESLEY', 71),
 ('JENNIFER', 87),
 ('MAKAYLA', 107),
 ('JAYCEON', 31),
 ('MALCOLM', 20),
 ('HAMZA', 26),
 ('MELISSA', 70),
 ('ZAINAB', 20),
 ('PIPER', 75),
 ('AHARON', 15),
 ('MOISHE', 16),
 ('MEYER', 8),
 ('AMAYA', 64),
 ('REAGAN', 67),
 ('SERENA', 45),
 ('LIANA', 45),
 ('REESE', 66),
 ('STEPHANIE', 75),
 ('FINN', 58),
 ('JUSTICE', 34),
 ('KENNEDY', 81),
 ('MYA', 117),
 ('ESTHER', 81),
 ('RAPHAEL', 34),
 ('TONY', 17),
 ('LUCIEN', 9),
 ('THEO', 28),
 ('NAFTULI', 14),
 ('BENSON', 23),
 ('PINCHAS', 14),
 ('SHLOIME', 9),
 ('GIAVANNA', 43),
 ('CHESKY', 7),
 ('LEA', 36),
 ('CADEN', 68),
 ('FERNANDO', 38),
 ('MICHAELA', 41),
 ('MEGAN', 80),
 ('BRYNN', 53),
 ('JULIEN', 22),
 ('ALEC', 19),
 ('KAREEM', 20),
 ('AHMAD', 18),
 ('ELVIS', 12),
 ('NACHMAN', 14),
 ('TERRENCE', 21),
 ('DIANA', 67),
 ('GABRIELLE', 102),
 ('LAILA', 100),
 ('VANESSA', 93),
 ('ALESSANDRA', 51),
 ('FAITH', 108),
 ('SIERRA', 38),
 ('DESTINY', 86),
 ('DELANEY', 45),
 ('EMERSON', 77),
 ('ALYSON', 16),
 ('LONDYN', 37),
 ('KEEGAN', 50),
 ('JADIEL', 38),
 ('NORAH', 44),
 ('COLLIN', 68),
 ('KALEB', 65),
 ('JOURNEY', 16),
 ('IZABELLA', 54),
 ('CAMDEN', 63),
 ('ADELINE', 43),
 ('GIANNI', 46),
 ('BENTLEY', 80),
 ('MIRACLE', 25),
 ('JORDY', 10),
 ('DANICA', 21),
 ('TRANY', 9),
 ('RAIZY', 28),
 ('BATSHEVA', 17),
 ('CHAVA', 24),
 ('LENNY', 7),
 ('DILAN', 10),
 ('YOUSSEF', 13),
 ('JAYSON', 58),
 ('TRAVIS', 68),
 ('BRUCHA', 14),
 ('RIVKA', 37),
 ('MALKA', 33),
 ('MATHEW', 33),
 ('ROY', 20),
 ('DAMON', 26),
 ('RIVKY', 26),
 ('SHAINDY', 27),
 ('ZAIN', 20),
 ('ORION', 29),
 ('ANDRES', 45),
 ('AMINATA', 16),
 ('PESSY', 27),
 ('ESTY', 16),
 ('MATIAS', 23),
 ('BAILA', 31),
 ('DINA', 31),
 ('FAIGA', 20),
 ('JALIYAH', 18),
 ('TENZIN', 23),
 ('GOLDY', 25),
 ('BRACHA', 20),
 ('JAYLAH', 18),
 ('EMILIO', 22),
 ('LIBBY', 23),
 ('YOCHEVED', 18),
 ('ROSA', 21),
 ('PEREL', 12),
 ('MAMADOU', 18),
 ('HECTOR', 40),
 ('CESAR', 42),
 ('SHARON', 25),
 ('CATALINA', 17),
 ('MELINA', 34),
 ('LINA', 20),
 ('EZEKIEL', 33),
 ('JARIEL', 17),
 ('ADRIEL', 27),
 ('URIEL', 16),
 ('AMADOU', 10),
 ('BRYANNA', 22),
 ('JADA', 70),
 ('CRISTOFER', 4),
 ('BRANDEN', 9),
 ('GINO', 16),
 ('TIFFANY', 50),
 ('MARYAM', 28),
 ('KEITH', 37),
 ('LUKA', 25),
 ('MARCOS', 26),
 ('TROY', 42),
 ('DREW', 53),
 ('MIKAEL', 10),
 ('CONOR', 37),
 ('ISSAC', 19),
 ('GRANT', 62),
 ('CHESKEL', 12),
 ('ESTER', 9),
 ('SURY', 19),
 ('MARIANA', 38),
 ('ARABELLA', 35),
 ('ALANNA', 25),
 ('MAKENZIE', 41),
 ('RAEGAN', 33),
 ('RYLIE', 26),
 ('WESTON', 40),
 ('GRIFFIN', 66),
 ('ELLIOTT', 59),
 ('LYRIC', 26),
 ('SETH', 40),
 ('BRENNAN', 38),
 ('ERIK', 49),
 ('JOHNATHAN', 53),
 ('BENNETT', 46),
 ('HARRY', 26),
 ('AMIRA', 32),
 ('SHAINA', 12),
 ('SHERRY', 8),
 ('AMELIE', 14),
 ('KELSEY', 44),
 ('DEBORAH', 18),
 ('JAZMINE', 20),
 ('KAYLIE', 20),
 ('APRIL', 21),
 ('RAQUEL', 21),
 ('SHOSHANA', 18),
 ('YITTA', 6),
 ('LITZY', 9),
 ('JOSELYN', 28),
 ('SANAI', 14),
 ('SANIYAH', 16),
 ('TAMIA', 16),
 ('SONIA', 20),
 ('QUEENIE', 7),
 ('CAROLINA', 24),
 ('ANGELIQUE', 19),
 ('NATHALIE', 21),
 ('KELVIN', 37),
 ('YADIEL', 14),
 ('EPHRAIM', 11),
 ('YITZCHAK', 13),
 ('SHLOIMY', 7),
 ('YECHEZKEL', 6),
 ('ANGUS', 7),
 ('ZALMEN', 10),
 ('MARVIN', 32),
 ('CYRUS', 23),
 ('KHALIL', 17),
 ('EDISON', 21),
 ('FABIAN', 17),
 ('MAURICE', 17),
 ('EITAN', 14),
 ('ALSTON', 7),
 ('YONA', 4),
 ('LEANDRO', 17),
 ('ZAYDEN', 28),
 ('ELIAN', 17),
 ('RUBEN', 18),
 ('JERMAINE', 16),
 ('MIKE', 12),
 ('SAMIYAH', 12),
 ('MARIANNA', 17),
 ('MAIYA', 13),
 ('JAMISON', 19),
 ('ENOS', 8),
 ('ADALYNN', 34),
 ('DILLON', 35),
 ('TYRONE', 10),
 ('SAVANNA', 29),
 ('MEGHAN', 30),
 ('JAYLENE', 19),
 ('JOHANNA', 23),
 ('LILIAN', 16),
 ('MARISA', 11),
 ('KIRA', 30),
 ('VIVIANA', 22),
 ('ANTONIA', 24),
 ('CLARE', 23),
 ('SARINA', 12),
 ('LEENA', 9),
 ('MELVIN', 26),
 ('JAIME', 19),
 ('NEIL', 15),
 ('GIANCARLO', 16),
 ('INES', 8),
 ('ISREAL', 5),
 ('BASYA', 6),
 ('DAYANA', 27),
 ('MARISSA', 40),
 ('ASHLYN', 26),
 ('KRISTINA', 19),
 ('LIVIA', 18),
 ('KRYSTAL', 8),
 ('LIANNA', 14),
 ('JIANNA', 10),
 ('JENCARLOS', 3),
 ('CRISTOPHER', 19),
 ('BRADEN', 24),
 ('FRANKLIN', 19),
 ('KRISTOPHER', 17),
 ('KELLAN', 28),
 ('ALLYSON', 28),
 ('YACHET', 5),
 ('ZARIA', 9),
 ('ZOIE', 13),
 ('ABDIEL', 9),
 ('DASHIELL', 10),
 ('AMARA', 25),
 ('DERICK', 9),
 ('DEVON', 30),
 ('ENRIQUE', 18),
 ('ERIKA', 34),
 ('FRANKIE', 23),
 ('GARY', 20),
 ('GWENDOLYN', 22),
 ('HADASSA', 8),
 ('JACKY', 6),
 ('JAELYNN', 18),
 ('ASHLEIGH', 5),
 ('JANIYA', 15),
 ('AUDRINA', 11),
 ('JESSIE', 23),
 ('JONAS', 27),
 ('AVI', 17),
 ('AVIANNA', 20),
 ('ALEJANDRA', 22),
 ('KAELYN', 26),
 ('KAILYN', 12),
 ('KALIYAH', 15),
 ('KAMERON', 26),
 ('KATERINA', 16),
 ('KIERA', 37),
 ('KRISTIAN', 20),
 ('KYRA', 26),
 ('LARA', 19),
 ('BRAEDEN', 14),
 ('LEELA', 10),
 ('LEORA', 12),
 ('LEYLA', 12),
 ('LUZ', 8),
 ('MAKENNA', 34),
 ('MARA', 20),
 ('BRYANT', 21),
 ('MAUREEN', 7),
 ('MILANI', 20),
 ('MIRA', 19),
 ('MONICA', 20),
 ('NATALY', 15),
 ('NICKOLAS', 17),
 ('PAITYN', 16),
 ('RICKY', 14),
 ('RIFKA', 7),
 ('RIHANNA', 18),
 ('RODNEY', 11),
 ('ROHAN', 20),
 ('SAUL', 17),
 ('SHAUN', 20),
 ('SHILOH', 24),
 ('SOLEIL', 8),
 ('TRENTON', 31),
 ('TZIPORAH', 9),
 ('TZIPPY', 4),
 ('TZIVIA', 5),
 ('CONNER', 28),
 ('JAMIR', 14),
 ('JALEN', 18),
 ('SHAYLA', 17),
 ('ARIELA', 11),
 ('ANALIA', 13),
 ('AMYA', 9),
 ('ISIAH', 14),
 ('ANTONY', 10),
 ('TYSHAWN', 2),
 ('CONNIE', 6),
 ('ZELDY', 5),
 ('CESIA', 3),
 ('RAUL', 13),
 ('RHEA', 13),
 ('ANGELINE', 14),
 ('FRANCO', 8),
 ('RIVKAH', 8),
 ('EZRIEL', 9),
 ('KRISH', 12),
 ('KYLER', 22),
 ('THERESA', 11),
 ('DAVION', 15),
 ('BENNY', 9),
 ('LEIB', 6),
 ('KAMARI', 15),
 ('CHEYENNE', 22),
 ('YASMIN', 15),
 ('YARIEL', 11),
 ('BRETT', 14),
 ('TINA', 10),
 ('SANIYA', 12),
 ('TRACY', 8),
 ('MARLEY', 32),
 ('JELANI', 7),
 ('AMALIA', 17),
 ('JAZLYN', 17),
 ('JAZLENE', 2),
 ('ELLIS', 22),
 ('AJANI', 6),
 ('BYRON', 13),
 ('ASIA', 13),
 ('JASLENE', 10),
 ('AISSATOU', 7),
 ('ALISSA', 11),
 ('ARYANNA', 16),
 ('ASHANTI', 5),
 ('ASHLEE', 5),
 ('ATARA', 9),
 ('BRAYLON', 9),
 ('BROCHA', 6),
 ('CAROLYN', 15),
 ('CAYLEE', 5),
 ('CLAUDIA', 17),
 ('CURTIS', 15),
 ('DAMANI', 6),
 ('DAMARIS', 9),
 ('DENISE', 16),
 ('DINAH', 3),
 ('ELIANNA', 25),
 ('FILIP', 6),
 ('HEATHER', 18),
 ('JABARI', 9),
 ('JAEDEN', 5),
 ('JAHDIEL', 5),
 ('JANIAH', 8),
 ('KALEIGH', 7),
 ('LANA', 26),
 ('MAHAMADOU', 5),
 ('MENUCHA', 4),
 ('PAMELA', 10),
 ('REBEKAH', 15),
 ('SHELBY', 18),
 ('TAMAR', 11),
 ('TARYN', 11),
 ('TERENCE', 4),
 ('TERESA', 13),
 ('TERRELL', 7),
 ('TREY', 21),
 ('WILMER', 7),
 ('ZACKARY', 15),
 ('TYRESE', 5),
 ('TIARA', 7),
 ('TALYA', 11),
 ('SHAMAR', 5),
 ('SEBASTIEN', 10),
 ('PRECIOUS', 7),
 ('MUSTAFA', 17),
 ('MARINA', 15),
 ('LIZ', 6),
 ('LESLEY', 5),
 ('KATRINA', 13),
 ('JOSELIN', 6),
 ('JEROME', 9),
 ('JERAMIAH', 3),
 ('JAIDA', 15),
 ('JACQUELYN', 6),
 ('JACKLYN', 6),
 ('ISAIAS', 12),
 ('HILLARY', 10),
 ('GISSELLE', 6),
 ('GILLIAN', 6),
 ('GERSHON', 7),
 ('GERALD', 17),
 ('EVELIN', 3),
 ('EMILIE', 15),
 ('DAYANARA', 5),
 ('DARNELL', 7),
 ('CALEIGH', 10),
 ('ANITA', 11),
 ('MOISES', 11),
 ('NAZIR', 8),
 ('KELLEN', 14),
 ('SHANIYA', 4),
 ('LISA', 17),
 ('JAHZARA', 7),
 ('HENCHY', 5),
 ('HAROLD', 9),
 ('ELUZER', 6),
 ('MARIELLA', 11),
 ('KIERSTEN', 6),
 ('ADITYA', 8),
 ('TESS', 11),
 ('JAILYN', 10),
 ('TABITHA', 11),
 ('CARISSA', 7),
 ('JOHANN', 6),
 ('ALANIS', 11),
 ('KHADIJAH', 10),
 ('HAVEN', 19),
 ('ZARIAH', 12),
 ('AYANA', 16),
 ('ANAYAH', 10),
 ('ROYAL', 25),
 ('ALEAH', 16),
 ('LYLAH', 14),
 ('ABRIELLE', 10),
 ('NATHALIA', 11),
 ('KADIATOU', 4),
 ('MAIMOUNA', 4),
 ('NICHOLE', 4),
 ('AWA', 3),
 ('JERELYN', 4),
 ('RAMATOULAYE', 3),
 ('ZAIDEN', 15),
 ('KYRIE', 27),
 ('MAJOR', 14),
 ('ORLANDO', 15),
 ('ABOUBACAR', 6),
 ('ADRIEN', 13),
 ('JOEY', 13),
 ('QUINCY', 18),
 ('DORIAN', 14),
 ('JAYCOB', 14),
 ('ENOCH', 8),
 ('DAVON', 9),
 ('BOUBACAR', 6),
 ('MATTIE', 11),
 ('FINLEY', 59),
 ('ADELYNN', 28),
 ('RYKER', 28),
 ('KNOX', 17),
 ('WILLA', 21),
 ('SAMIRA', 13),
 ('AYESHA', 12),
 ('AYA', 13),
 ('MAISIE', 13),
 ('JUNIPER', 23),
 ('AZIZA', 6),
 ('MINA', 20),
 ('SARIYAH', 9),
 ('ROCHELLE', 5),
 ('ALIA', 14),
 ('FREYA', 23),
 ('NAYA', 14),
 ('AMIA', 11),
 ('SHEILA', 10),
 ('CLEMENTINE', 13),
 ('PALOMA', 9),
 ("CHLOE'", 6),
 ('QUEENA', 4),
 ('SIMI', 5),
 ('BLIMIE', 3),
 ('AVIVA', 11),
 ('SAMIYA', 9),
 ('ROSIE', 12),
 ('HARLOW', 16),
 ('LUCILLE', 27),
 ('KHADIJA', 12),
 ('ZOYA', 10),
 ('DALIA', 16),
 ('RINA', 7),
 ('JOURNEE', 9),
 ('AMAYAH', 11),
 ('AMEERA', 12),
 ('YASMEEN', 5),
 ('PERI', 7),
 ('AIDEL', 5),
 ('REIZEL', 3),
 ('KAMRYN', 22),
 ('DOROTHY', 17),
 ('BLAIR', 18),
 ('KACEY', 9),
 ('EMMELINE', 11),
 ('CLARISSA', 11),
 ('AMINAH', 13),
 ('IVANNA', 11),
 ('SAFA', 11),
 ('SIDNEY', 15),
 ('ZAYNAB', 8),
 ('AGNES', 11),
 ('IRINA', 7),
 ('MARWA', 6),
 ('AMEERAH', 7),
 ('NAVA', 7),
 ('LUCINDA', 8),
 ('OONA', 8),
 ('SABINA', 7),
 ('SUMAYA', 9),
 ('TANYA', 4),
 ('HAREEM', 5),
 ('NATALYA', 14),
 ('SADIA', 4),
 ('HADIYA', 3),
 ('HENNA', 5),
 ('PENINA', 3),
 ('TALA', 11),
 ('VENUS', 4),
 ('BLUMA', 2),
 ('FELICIA', 7),
 ('SHELLY', 4),
 ('KAMAYA', 3),
 ('SHEINA', 5),
 ('UNA', 5),
 ('TZIVI', 2),
 ('KIMI', 8),
 ('ZAHIR', 6),
 ('AAHIL', 9),
 ('NOAM', 12),
 ('YIDEL', 5),
 ('RHYS', 19),
 ('LEGEND', 17),
 ('TYSON', 17),
 ('LEV', 10),
 ('CASSIUS', 14),
 ('ABE', 4),
 ('ZAMIR', 6),
 ('SHAUL', 3),
 ('YONAH', 7),
 ('YONASON', 3),
 ('GIDEON', 23),
 ('ROBIN', 20),
 ('NATHANAEL', 16),
 ('NIKOLAI', 21),
 ('SAVION', 4),
 ('ASA', 15),
 ('IMRAN', 12),
 ('YONATAN', 9),
 ('STEPHAN', 10),
 ('BINYAMIN', 6),
 ('ZALMAN', 5),
 ('LEIBY', 4),
 ('MALEK', 7),
 ('ELIE', 4),
 ('BURECH', 4),
 ('NESANEL', 4),
 ('TRISTEN', 16),
 ('EDDY', 7),
 ('MAISON', 15),
 ('KARIM', 9),
 ('JAMAR', 11),
 ('ARVIN', 6),
 ('AZAAN', 8),
 ('MOISHY', 3),
 ('SHLOIMA', 3),
 ('SHLOMIE', 2),
 ('NOACH', 5),
 ('AZIM', 2),
 ('CHANANYA', 3),
 ('KIAN', 19),
 ('ZAYAN', 7),
 ('AUGUSTUS', 16),
 ('LEWIS', 16),
 ('SAMSON', 12),
 ('ANAS', 7),
 ('BOWEN', 13),
 ('AZARIAH', 23),
 ('DIMITRI', 14),
 ('SHLOMA', 5),
 ('ADHAM', 4),
 ('DAVE', 8),
 ('RAY', 12),
 ('TRISTIAN', 13),
 ('RAHEEM', 7),
 ('MOHAMAD', 3),
 ('MIKHAIL', 8),
 ('ABDULRAHMAN', 7),
 ('BENYAMIN', 6),
 ('FEYNMAN', 4),
 ('MOTTY', 4),
 ('ASADBEK', 2),
 ('BEHRUZ', 3),
 ('MESHULEM', 3),
 ('SHOHJAHON', 3),
 ('DOVBER', 2),
 ('TEMUR', 3),
 ...]

Now `map` the name,frequency pairs so that you only have the values and use the `max` action to get the highest value.

In [24]:
namesCountValue = namesCount.map(lambda x: (x[1] ) )

maxValue =  max(namesCountValue.collect())
print(maxValue)

386

And revert back to the name,frequency pairs and filter the pair(s) that have a frequency equal to the max you found.

In [25]:
maxAmountNames =  namesCount.filter(lambda x: x[1] == maxValue  )
maxAmountNames.collect()

[('LOGAN', 386)]